.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: #4A4A4B;
  font-size: 26px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#App-nav {
  width: 25%;
  height: 100vh;
  padding: 20px;
  text-align: left;
  background-color: #DDDDDD;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Rooms-nav {
  font-size: 20px;
  font-weight: bold;
}

.Rooms-nav ul {
  padding: 0;
  list-style-type: none;
}

.Room-link {
  padding-bottom: 20px;
}
.Room-link a {
  color: #959596;
  text-decoration: none;
}