.App-title {
  font-size: 32px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.col-sm-3 {
  background-color: #E7E7E9;
}

.col-sm-8 {
}

.Rooms-nav a {

}

ul {
  padding: 0;
  list-style-type: none;
}

.Room-link {
}

.Room-link a {
  color: #959596;
  text-decoration: none;
}

#new-room-form {
  margin: 240px;
  color: #4B4B4B;
  text-align: left;
  padding: 48px;
  background: #D7D7D7;
  width: 450px;
  height: 220px;
}

#new-room {
  /* font-size: 40px;
  width: 100%;
  border-style: none; */
}
